<ion-header>
  <ion-toolbar color="danger">
    <ion-title> Chart </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Performance Reporting</ion-card-subtitle>
      <ion-card-title>Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        #barChart
        [labels]=""
        style="position: relative; height: 20vh; width: 40vw"
      ></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Performance Reporting</ion-card-subtitle>
      <ion-card-title>Doughnut Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas
        #doughnutCanvas
        style="position: relative; height: 20vh; width: 40vw"
      ></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ticket Summary</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>
          <h2>Total Alarm : 45</h2>
          <p>Total Co : 20</p>
          <p>Total PM : 10</p>
          <p>Total DT : 36</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
